/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.session_form {
  color: blue;
  display: flex;
  justify-content: center;
}

.session_form form {
  padding: 10px;
  border: 1px solid rgb(228, 230, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

form input {
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 90%
}

form label{
  display: block;
  color: black;
  font: Arial;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav h1 {
  height: 15px;
}

.nav .link {
  margin-right: 10px;
}
.session_form .button {
  background-color: rgb(0, 119, 204);
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  width: 40%;
  color: white;

}

.session_form input {
  display: flex;
  color: rgb(59, 64, 69);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  align-items: center;
}

.labelcontainer {
  justify-content: left;
  width: 90%
}

.buttoncontainer {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: right;
}

.errorClass {
  background-color: red;
  color: white;
  font-size: 20px;
  height: 25px;
}

/* ask about including this from another file */

.item_index {
  color: #242729;
  font-size: 18px;
  line-height: 2.22;
  font-family: Arial, "Helvetica-Neue", Helvetica, sans-serif;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_index_item {
  border-top: 1px solid rgb(228, 230, 232);
  border-bottom-color: 1px solid rgb(228, 230, 232);
  color: rgb(0, 119, 204);
  width: 50%;
  height: 80px;
}
.item_index_item h1 {
  font-size: 16px;
}
.item_index_item h2 {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}
