@import "font-awesome-sprockets";
@import "font-awesome";

.questionHolder{
  margin-left: 100px;
  margin-right: 100px;
}
.answer_box {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;

}

.answer_box h2 {
  border-bottom: 1px solid #e4e6e8;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(36, 39, 41);
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #e4e6e8;

}

.item_wrapper{
  border-bottom: 1px solid #e4e6e8;
}

.show_item {
  display: flex;
  color: rgb(36, 39, 41);

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.show_item .sidebar_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 100px;
}

.show_item .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  font-size: 20px;
  color: rgb(106, 115, 124);
}

.show_item .sidebar .up_arrow {
  content: '';
    width: 0;
    height: 0;
    border-top: 0px solid #000;
    border-bottom: 10px solid gray;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    background: transparent;
}

.show_item .sidebar .down_arrow {
  content: '';
    width: 0;
    height: 0;
    border-top: 10px solid gray;
    border-bottom: 0 solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    background: transparent;
}

.show_item .main {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e4e6e8;
}
.show_item .main h1 {
  font-weight: 400;
  font-size: 15px;
}
.show_item .main h3 {
  display: flex;
  justify-content: flex-end;
  color: rgb(0, 119, 204);
  font-size: 13px;
}

.show_item .update_form{
  position: relative;
  z-index: 2;

}

.show_item .update_form form{
  display: flex;
  flex-direction: column;
}

.show_item .update_form input {
  width: 800px;
  font-size: 15px;
}

.show_item .update_form textarea{
  height: 300px;
  width: 900px;
  font-size: 15px;
}

.show_item .update_form .submit {

}

.show_item .deleteButton{
  position: relative;
  z-index: 2;
}

.bodyModal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.comment_sidebar{
  width: 20%;
}
.commentModal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.comment_form{
  position: relative;
  z-index: 2;
}

.comment_button{
  color: rgb(132, 141, 149);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;

}

.update_form .answer form label{
  display: none;
}
.update_form .answer form h1{
  display: none;
}
.update_form .answer form input{
  display: none;
}

.update_form .answer form textarea{
  height: fit-content;
}

.update_form .answer form .submit{
  display:flex;
}

.update_form .comment form label{
  display: none;
}
.update_form .comment form h1{
  display: none;
}
.update_form .comment form input{
  display: none;
}

.update_form .comment form textarea{
  height: fit-content;
}

.update_form .comment form .submit{
  display:flex;
}

.comment_form .comment form label{
  display: none;
}
.comment_form .comment form h1{
  display: none;
}
.comment_form .comment form input{
  display: none;
}

.comment_form .comment form textarea{
  height: fit-content;
  min-height: 18px;
}

.comment_form .comment form .submit{
  display:flex;
}
.answerForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
.answerForm input{
  display: none;
}

.answerForm .titleLabel {
  display: none;
}

.answerForm .questionLabel {
  display: none;
}
.answerForm form .submit{
  display: flex;
  height: 33px;
  width: 145px;
  color: white;
  border-radius: 3px;
  background-color: rgb(0,149, 255);
  font-size: 15px;
  font-style: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.answerForm form textarea {
  height: 300px;
  width: 80%;
  font-size: 15px;
}

.answer_box .comment_button{
  color: rgb(132, 141, 149);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  border: none;
}


.titleError {
  color: white;
  background-color: #C04848;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  height: 20px;
  width: fit-content;
  padding: 2px;
  border-radius: 3px;
}
.bodyError {
  color: white;
  background-color: #C04848;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 20px;
  width: fit-content;
  border: none;
  padding: 2px;
  border-radius: 3px;
}

.show_item .update_form form .submit {
  width: 50px;
}

.comment_form form .submit {
  width: 50px;
}

.commentsANDmain{
  width: 85%;
}
.top {
  border-bottom: none;
}

#comment{
  border-bottom: none;
}

#comment .sidebar {
  flex-direction: row;

}

#comment .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#comment .comment_button{
  display: none;
}

#comment .show_item .commments{
  display: none;
}

ul{
  margin: 0;
  padding: 0;
}

#comment .sidebar_wrapper {
  flex-direction: row;
  height: auto;
  width: 100px;
}
